# 2.1  Overview of Python

The Python programming language was developed in the late 1980s by Dutch programmer Guido
van Rossum. The language was not named after the large snake species but rather after the BBC
comedy series Monty Python’s Flying Circus. Guido van Rossum happens to be a fan. Just like
the Linux OS, Python eventually became an open source software development project. However,
Guido van Rossum still has a central role in deciding how the language is going to evolve. To
cement that role, he has been given the title of “Benevolent Dictator for Life” by the Python
community.

Python is a versatile and easy-to-use language that was specifically designed to make programs
readable and easy to develop. Python also has a rich library making it possible to build
sophisticated applications using relatively simple-looking, small amount of code. For these
reasons, Python has become a popular application development language.

Important Note: This document is based on Python version 3.6.

# 2.2  How to use Python

We use the Python language by working with the Python interpreter. Two common ways the
Python interpreter can be used are the interactive mode and the scripting mode, which are
described below.

### 2.2.1  Interactive Mode

We first invoke (start) the Python interpreter and then work with it interactively. That is, we give the
interpreter Python commands, one at a time. To start the Python interpreter in interactive mode,
type the command **python** on the command-line, at the shell prompt on Linux, as shown below.

    $ python
    Python 3.6.6 (default, Aug 12 2018, 20:37:26)
    Type "help", "copyright", "credits" or "license" for more information.
    >>>

When Python commands are read from the keyboard, the interpreter is said to be in interactive
mode. In this mode it prompts for the next command with the primary prompt, usually three
greater-than signs (&gt;&gt;&gt;); for continuation lines it prompts with the secondary prompt, by default
three dots (...). The interpreter prints a welcome message stating its version number and a
copyright notice before printing the primary prompt.

After that, you can type commands and statements at the primary prompt. Some examples:

In [ ]:
1+5

6

In [ ]:
2*5

10

In [ ]:
print("Hello World!\n")

Hello World!

The interactive mode makes it easy to experiment with features of the language, or to test
functions during program development. It is also a handy desk calculator. We will use the
interactive mode to introduce and demonstrate Python language features in this document, when
it is more appropriate.

### 2.2.2 Scripting Mode

The scripting mode is also called the &quot;normal mode&quot; (or the &quot;programming mode&quot;) and is non-
interactive; in this we give the Python interpreter a text file containing a Python program (also
called a Python script) as input, on the command-line, as follows:

  `$ python myprog.py`

Here “myprog.py” is the name of the text file that contains the Python program. Python source
files are given the filename extension “.py”.

A Python program can consist of several lines of Python code. A programmer uses a text editor to
create and modify files containing the Python source code. We will use this scripting mode more
towards the later parts of this document and use the interactive mode more in the initial sections to
discuss the basics.

# 2.3  Basic Data Types in Python

Let us see a few examples in the interactive mode to gain ideas about basic data types in Python.

In [ ]:
2*5

10

In [ ]:
1/2

0.5

There are three basic numeric types in Python: plain integers with unlimited precision (int),
floating point numbers (float), and complex numbers (complex). In addition, Booleans (bool) are
a subtype of integers. &#39;int&#39; objects are integers. &#39;float&#39; objects are floating-point values (“real”,
non-integer numbers that can have a fractional part).

Unlike in previous versions of Python and other programming languages, division of an integer by
an integer using ‘/’ will result in a “float” value. For example, 4/2 will return 2.0.

In [ ]:
4/2

2.0

In [ ]:
4.0/2

2.0

In [ ]:
7./2

3.5

In [ ]:
'aaa'

'aaa'

In [ ]:
len('aaa')

3

In [ ]:
len('aaa') + len('tttt')

7

In [ ]:
len('aaa') + len('tttt') + 1

8

In [ ]:
'aaa' + 'tttt'

'aaatttt'

In [ ]:
'aaa' + 5

TypeError: ignored

In Python, &#39;str&#39; objects are character strings, which are normally enclosed within either single
quotes or double quotes. That is, &#39;aaa&#39; and &quot;aaa&quot; are the same. A string can also be triple
quoted, either with three single quotes, as &#39;&#39;&#39;aaa&#39;&#39;&#39;, or three double quotes, as &quot;&quot;&quot;aaa&quot;&quot;&quot;.

The error message in the last line of the interactive session above says that a string and an
integer cannot be joined.

You can check the type of values using the built-in function type():

In [ ]:
type(1)

int

In [ ]:
type('1')

str

In [ ]:
type(1.0)

float

The Python interpreter has several functions built into it, such as len() and type() above, that are always available.

# 2.4  Python Objects

So far, we have seen values (integers, floats and strings). We can associate a name to a value
and access the value through the associated name:

In [ ]:
a=3
a

3

Here we have assigned (associated) the name &quot;a&quot; to an integer object whose value is 3. An object
name is also referred to as a variable. In the second line above, the interpreter displays the value
(3) of the object named &quot;a&quot;. Here is another example:

In [ ]:
myVar = 'one sentence'
myVar

'one sentence'

Objects are Python’s abstraction for data. Data in a program are represented by objects or as
relations between objects.

Every object has the following attributes:


*   An *identity*: This means *an address in memory*. This never changes within a single execution. We can
check the identity of an object with the built-in function id(). Note that a single object may have more
than one name (i.e., it may be associated with more than one variable); for e.g., if both the variables &quot;a&quot;
and &quot;b&quot; refer to the same object, then the identity of &quot;a&quot; and &quot;b&quot; must be equal. Alternatively, we can
use the “is” operator to check if both &quot;a&quot; and &quot;b&quot; are the same (i.e., whether they both refer to the same
object).
*   A *type*: Use the built-in function type()to check this. Possible operations and values depend on the
type of an object.
*   A *value*: The value of some object types can change (*mutable*) whereas other types cannot (*immutable*).
We will further discuss this later.


Here is an example

In [ ]:
b = 57 
c = b
c

57

In [ ]:
id(b)

94641773412608

In [ ]:
id(c)

94641773412608

In [ ]:
b is c

True

We cannot use arbitrary strings as object names (variables). The Python variable naming rules
are:



*   Must begin with a letter (a - z, A - Z) or underscore (_).


*   Other characters can be letters, numbers or _ only.

*   Names are case sensitive.
*   Reserved words cannot be used as a variable name.

Even when a variable name is “legal” (i.e., follows the rules), it might not be a “good” name. Here
are some generally accepted conventions for designing good names:



*   A name should be meaningful: “price” is better than “p”.
*   For a multiple-word name, use either the underscore as the delimiter (e.g., temp_var and interest_rate) or use camelCase capitalization (e.g., tempVar, TempVar, interestRate or
InterestRate); pick one style and use it consistently throughout your program.


*   Shorter meaningful names are better than longer ones

Can you explain the following?

In [ ]:
1string = 'one string'

SyntaxError: ignored

In [ ]:
myVar = 'one sentence'
myvar

NameError: ignored

In [ ]:
a = 2
a

2

In [ ]:
a * 5

10

# 2.5  Mutability of Objects

When the value of an object can change, it is mutable; if not, then the object is immutable. In
Python, mutability depends on the type, as follows:


*   Immutable types: all numeric types (numbers), strings, tuples, range, bytes, Unicode, frozenset
*   Mutable types: lists, dictionaries, bytearray, set, classes, class instances

Here are a few examples with integer objects and string objects.

In [ ]:
b=57
c=b
c

57

In [ ]:
id(b)

94380328972544

In [ ]:
id(c)

In [ ]:
b is c

True

In [ ]:
b=60 
b

60

In [ ]:
c

In [ ]:
id(b)

In [ ]:
id(c)

In [ ]:
b is c

False

In [ ]:
p='abcxyz'

In [ ]:
q=p

In [ ]:
q

'abcxyz'

In [ ]:
p is q

True

In [ ]:
id(p), id(q)

(140052143945840, 140052143945840)

In [ ]:
q[2]

'c'

In [ ]:
q='01234'
id(p), id(q)

(140052143945840, 140052144215024)

In [ ]:
q[2]='W'

TypeError: ignored

# 2.6  Arithmetic and Algebraic Expressions

Arithmetic expressions evaluate to a numeric value, whether of type int or float or other number
types that Python supports. We can enter an arithmetic expression, such as 3 + 7, and hit the
Enter key on the keyboard to view the result of evaluating that expression, as seen below:

In [ ]:
3+7

10

In [ ]:
3 * 2

6

In [ ]:
5/2

2.5

In [ ]:
4.0/2

2.0

In the first two expressions, integers are added or multiplied, and the result is an integer, which is
what you expect. In the third expression, an integer is divided by another and the result is a float.
In Python version 3, division of an integer by an integer returns the actual value in the form a
floating point number. In the last expression, where the float value 4.0 is divided by 2 and the
result shown is 2.0.

Values without the decimal point are of type integer, or simply **int**. Values with a decimal point
alone (such as **4.**) or with a fractional part (such as **4.32**) are of type floating point, or simply
**float**. Let us continue evaluating a few more expressions of both types:

In [ ]:
2 * 3 + 1

7

In [ ]:
(3 + 1) * 3

12

In [ ]:
4.321 / 3 + 10

11.440333333333333

In [ ]:
4.321 / (3 + 10)

0.3323846153846154

Multiple operators are used in these expressions, which raises the question: In what order should
the operations be evaluated? The standard algebra precedence rules apply in Python:
*multiplication and division take precedence over addition and subtraction* and, just as in algebra,
parentheses are used when we want to explicitly specify the order in which operations should take
place. If all else fails, expressions are evaluated left- to-right.

All the expressions we have evaluated so far are plain arithmetic expressions involving number
values (of type int or type float), arithmetic operators (such as +, -, /, and *), and parentheses.
When you hit the Enter key, the Python interpreter will read the expression and evaluate it.

The two most frequently used types of number values, int and float, have different properties. For
example, when two int values are added, subtracted, or multiplied, the result is an int value. If at
least one float value appears in such an expression, however, the result is always a float value.

The exponentiation operator ** can be used to compute x y using the expression x**y:

In [ ]:
2**3

8

In [ ]:
2**4

16

To obtain the integer quotient and the integer remainder from an integer division operation,
operators // and %, respectively, are used. The operator // performs floor division (also called
integer division), which gives the integer quotient of the division; that is, the expression a//b
returns the integer quotient of the operation where integer a is divided by integer b. The %
operator in expression a%b returns the remainder of the operation where integer a is divided by
integer b. For example:

In [ ]:
14/3

4.666666666666667

In [ ]:
14//3

4

In [ ]:
14%3

2

The second (14//3) expression evaluates to 4 because 4 is the integer part (quotient) of the
division. In the third expression, 14 % 3 evaluates to 2 because 2 is the remainder when 14 is
divided by 3.

The Python interpreter has several functions built into it that are always available. For example,
the Python function abs() can be used to compute the absolute value of a number.

In [ ]:
abs(-4)

4

In [ ]:
abs(4)

4

In [ ]:
abs(-3.2)

3.2

Other built-in functions available in Python include **min()** and **max()**, which return the minimum or
maximum, respectively, of the input values, as seen below.

In [ ]:
min(6,-2)

-2

In [ ]:
max(6,-2)

6

In [ ]:
min(2, -4, 6, -2)

-4

In [ ]:
max(12, 26.5, 3.5)

26.5

#### **Pracitce Problem 2.1**

Write Python expressions corresponding to the following statements:

1.   The sum of the first 5 positive integers
2.   The average age of Geetha (age 23), Kasun (age 19), and Fathima (age 31)
3. The number of times 73 goes into 403
4. The remainder when 403 is divided by 73
5. 2 to the 10th power
6. The absolute value of difference between the heights of Geetha (54 inches) and Kasun (57 inches)
7. The lowest price among the following prices: Rs. 34.99, Rs. 29.95, and Rs. 31.50

In [ ]:
#Try out your solutions here

# 2.7  Boolean Expressions and Operators

Expressions other than arithmetic expressions are also common. For example, the expression 2 &lt;
3 does not evaluate to a number; it evaluates to either *True* or *False* (True in this case), which are
Boolean values. (*True* and *False* are Python built-in constants of **bool** type).

Comparison operators (such as &lt; or &gt;) are commonly used in Boolean expressions. For example:

In [1]:
2<3

True

In [2]:
3<2

False

In [3]:
type(True)

bool

In [4]:
5-1>2+1

True

The last expression illustrates that arithmetic/algebraic expressions on either side of a comparison
operator are evaluated before the comparison is made. As we will see later, *arithmetic operators
take precedence over comparison operators*. For example, in 5 - 1 &gt; 2 + 1, the operations - and +
are performed first, and then the comparison is made between the resulting values.

In order to check equality between values, the comparison operator == is used. Note that this
operator has two = symbols, not one. Then, != is the not equal operator. Here are some examples:

In [5]:
3==3

True

In [6]:
3 + 5 == 4 + 4

True

In [7]:
3 == 5 - 3

False

There are a few other logical comparison operators:

In [8]:
3<=4

True

In [9]:
3>=4

False

In [10]:
3!=4

True

The Boolean expression 3 &lt;= 4 uses the &lt;= operator to test whether the expression on the left (3)
is less than or equal to the expression of the right (4). The Boolean expression evaluates to True.
The &gt;= operator is used to test whether the operand on the left is greater than or equal to the
operand on the right. The expression 3 != 4 uses the != (not equal) operator to test whether the
expressions on the left and right evaluate to different values.

#### **Pracitce Problem 2.2**

Translate the following statements into Python Boolean expressions and evaluate them:

1. The sum of 2 and 2 is less than 4.
2. The value of 7 // 3 is equal to 1 + 1.
3. The sum of 3 squared and 4 squared is equal to 25.
4. The sum of 2, 4, and 6 is greater than 12.
5. 1, 387 is divisible by 19.
6. 31 is even.
7. The lowest price among Rs. 34.99, Rs. 29.95, and Rs.31.50 is less than Rs.30.00.

In [ ]:
#Try out your solutions here

Boolean expressions can be combined using Boolean operators **and**, **or**, and **not** to form larger
Boolean expressions. The **and** operator applied to two Boolean expressions will evaluate to True if
both expressions evaluate to True; if either expression evaluates to False, then it will evaluate to
False:

In [11]:
2 < 3 and 4 > 5

False

In [12]:
2<3 and True

True

Both expressions illustrate that comparison operators are evaluated before Boolean operators.
This is because comparison operators take precedence over Boolean operators, as we will see
later.

The **or** operator applied to two Boolean expressions evaluates to False only when both
expressions are false. If either one is true or if both are true, then it evaluates to True.

In [13]:
3 < 4 or 4 < 3

True

In [14]:
3<2 or 2<1

False

The **not** operator is a unary Boolean operator, which means that it is applied to a single Boolean
expression. It evaluates to False if the expression is true or to True if the expression is false.

In [15]:
not (3 < 4)

False

# 2.8  Variables and Assignments

As we already know, it is useful to assign names to objects, and we call those names *variables*.
For example, the object of integer type with value 3 may be assigned to variable x as x = 3. The
variable x can be thought of as a name that enables us to retrieve this object later. In order to
retrieve it, we just need to evaluate x in an expression.

In [ ]:
x = 4

The statement x = 4 is called an assignment statement. The general format of an assignment
statement is:



```
  <variable> = <expression>
```
An expression we refer to as &lt;expression&gt; lies on the right-hand side of the assignment operator
=; it can be an algebraic, Boolean, or other kind of expression. On the left-hand side is a variable
referred to as &lt;variable&gt;. The assignment statement assigns to the &lt;variable&gt; the value that
&lt;expression&gt; evaluates to. In the last example, x is assigned value 4. With the assignment
statement, we also *define* the variable.

A defined variable (i.e., a variable with a value assigned), can be used in a Python expression:

In [ ]:
x

4

When Python evaluates an expression containing a variable, it will evaluate the variable to its
assigned value and then perform the operations in the expression:

In [ ]:
4 * x

16

An expression involving variables may appear on the right side of an assignment statement, such
as:

In [ ]:
counter = 4 * x

In statement **counter** = 4 * x, x is first evaluated to 4, then the expression 4 * 4 is evaluated to
16, and then 16 gets assigned to variable **counter**:

In [ ]:
counter

16

So far, we have defined two variable names: x with value 4 and counter with value 16. What
about, say, the value of variable z that has not yet been defined (not assigned a value)? Let’s see:

In [ ]:
z

NameError: ignored

We get an error message, saying that there is a “NameError” because z is not defined.

We can use the “del” statement to delete a defined (an existing) variable, which will remove
(undefine) the variable from the system. Obviously, an undefined variable cannot be deleted.

In [1]:
del(x)
x

NameError: name 'x' is not defined

In summary, if a variable has either not been assigned a value or been deleted, it does not exist.
When Python tries to evaluate an undefined name, a “NameError” occurs.

#### **Pracitce Problem 2.3**

Write Python statements for the following actions and execute them:
1. Assign integer value 3 to variable a.
2. Assign 4 to variable b.
3. Assign to variable c the value of expression a * a + b * b.

# 2.9  Python Programs

We explained in Section 2.2 on how to use a Python program with the Python interpreter in the
scripting mode. A Python program is a sequence of Python statements, spread over several lines.
Let us try our first Python program. Type the following exactly as shown using a text editor and
save the file as prog-2-1.py.

In [ ]:
# Program-2.1
msg="Let’s learn Python"
print("Hello, World!")
print(msg)

Hello, World!
Let’s learn Python

Next run the Python interpreter with the file as input and observe the output.

```
    $ python prog-2-1.py
    Hello, World!
    Let's learn Python
```

# 2.10  Input, Output and Files

Here we briefly introduce how to perform input, output and file operations in Python. A more
detailed discussion is in Chapter 10.
The simplest way to produce output is using the **print()** built-in function, as we have seen
already. This converts the expressions you pass into a string and writes the result to standard
output as follows:

In [ ]:
print("Let’s learn Python")

Let’s learn Python

Python provides the built-in function **input()** to read a line of text from standard input, which by
default comes from the keyboard.

## 2.10.1  The input() Function

In the  input([prompt]) built-in function, if the optional prompt argument is present, it is written to
standard output (screen) without a trailing newline. The function then reads a line from standard
input (keyboard), converts it to a string (stripping a trailing newline), and returns that.


```
    # Program-2.2
    string = input("Enter your input: ")
    print("Received input is:", string)
```

This would prompt you to enter any string and it would display same string on the screen. When
we type "Hello Python!", its output is like this:



```
    Enter your input: Hello Python
    Received input is: Hello Python
```
The eval([prompt]) function can evaluate valid Python expressions given through
input([prompt]). Here is a program that uses it.



```
    # Program-2.3
    string = input("Enter your input: ")
    print("Received input is:", eval(string))
```
This would produce the following result against the entered input:



```
    Enter your input: [x*5 for x in range(2,10,2)]
    Received input is: [10, 20, 30, 40]
```

In [ ]:
string = input("Enter your input: ")
print("Received input is:", string)

Enter your input: jjj
Received input is: jjj

In [16]:
# Program-2.3
string = input("Enter your input: ")
print("Received input is:", eval(string))

Enter your input:  [x*5 for x in range(2,10,2)]
Received input is: [10, 20, 30, 40]

### 2.10.2  Reading Input from a File

The following program will open the file named as “pythonlearn.txt” and print its content on the
screen (i.e., the standard output). For this program to work, the file “pythonlearn.txt” must exist
in the same directory with the Python program file.

In [ ]:
# Program-2.4
# Open a file
fo = open("/content/pythonlearn.txt", "r")
string = fo.read();
print("Read String is: ", string)
# Close opened file
fo.close()

Read String is:  Text written in the pythonlearn.txt file

### 2.10.3  Writing to a File

The following program will write the given sentence to the “firstwrite.txt” file.

In [ ]:
# Program-2.5
# Open a file
fo = open("firstwrite.txt", "w")
fo.write("Python is a great language.\nYeah its great!!\n");
# Close opened file
fo.close()

# 2.11  Python Keywords

Shown below are the keywords (reserved words) of the Python language.


|   |   |   |   |   |   |   |   |
|---|---|---|---|---|---|---|---|
and | as | assert | async | await | break | class | continue
def | del  | elif |  else | except  | finally | for | from
global | if | import  | in  | is | lambda | nonlocal | not
or | pass |  raise  | return | try | while | with | yield
False | True | None

The above should not be used arbitrarily in programs, e.g., as names of variables. There are also
several words that have special meanings in Python, for e.g., True, False, None.